<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Fluent 2014</title>

    <meta name="description" content="Conference showcasing HTML 5, CSS, Javascript">
    <meta name="author" content="Jorden Lowe">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal/reveal.min.css">
    <link rel="stylesheet" href="css/reveal/theme/default.css" id="theme">
    <!--<link rel="stylesheet" href="css/theme/night.css" id="theme">-->

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/reveal/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="css/reveal/print/' + (window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper') + '.css" type="text/css" media="print">');
		</script>

    <!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
</head>

<body>

    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <section data-state="submerge">
                <h1>Fluent 2014</h1>
                <div>
                    <br>
                </div>
                <div>by Jorden Lowe</div>
                <div>
                    <br>
                </div>
                <div>
                    <br>
                    <br>
                </div>
            </section>
            <section data-state="submerge">
                <h2>What topics did I Learn?</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>Web Components</li>
                        <li>Security</li>
                        <li>Best Practices</li>
                        <li>Organizing a Team</li>
                        <li>Hypermedia</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Web Components</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>HTML Imports</li>
                        <li>Templates</li>
                        <li>Shadow DOM</li>
                        <li>Custom Elements</li>
                        <li>Polymer</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Polymer</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>Library created to create reusable components, even with browser differences</li>
                        <li>http://www.polymer-project.org/</li>
                        <li>
                            Layers
                            <ol>
                                <li>Elements</li>
                                <li>Core</li>
                                <li>Platform</li>
                                <li>Native</li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Security</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>Client</li>
                        <li>Message</li>
                        <li>Server</li>
                        <li>OWASP and Tools</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Client Security</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>Enable CSRF protection</li>
                        <li>ESCAPE ALL THE CHARACTERS</li>
                        <LI>Have a CSP (Content-Security-Policy) header</LI>
                        <LI>X-Frame-Option Headers</LI>
                        <li>Clean out bad headers</li>
                        <li>XSS(Cross Side Scripting)</li>
                        <li>HTTPS and Sessions should be Http Only</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Message Level Security</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>Use tokens, no session cookies</li>
                        <li>Tokens can be stored in local storage</li>
                        <li>Use httpOnly flag in Node</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Server Security</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>No Sql suffers from Injection</li>
                        <li>Always check types</li>
                        <li>Regular Expressions can cause DDOS</li>
                        <li>use a try catch</li>
                        <li>http://www.OWASP.org</li>
                        <li>OWASP has tools!</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Best Practices</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>HTML 5 is Bullshit</li>
                        <li>Using the Community!</li>
                        <li>Use Code Styles and Tools</li>
                        <li>Static Types are Overrated</li>
                    </ol>
                </div>
            </section>    
            <section data-state="submerge">
                <h2>HTML 5 won't save you</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>Dynamic Languages can be Messy</li>
                        <li>Progress takes Time</li>
                        <li>Web is super hard</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Consult the Community</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>Agree on Code Standards</li>
                        <li>Create Documentation</li>
                        <li>Enforce in CIs and Builds</li>
                        <li>Ask the Community if you don't know.</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Use Code Style Tools</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>JSLint</li>
                        <li>Grunt for CIs</li>
                        <li>Create warnings for bad practices, if you can</li>
                        <li>Cyclomatic Complexity, Halstead, Maintainability Index</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Dynamic Types are Great</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>"Type correctness does not guarantee program correctness"</li>
                        <li>Lots of tools now for JS</li>
                        <li>tern.js</li>
                        <li>trace.GL</li>
                        <li>JSDocs</li>
                        <li>Easy to Polymeric Polymorphism</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Organizing a Team</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>Unpacking Technical Decisions</li>
                        <li>Branching</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Unpacking Technical Decisions</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>Need to decide big decisions repeatedly to learn</li>
                        <li>To make easy, do small steps and adjust</li>
                        <li>
                            Things that determine what to pick
                            <ol>
                                <li>Internal/People  - Familiarity</li>
                                <li>Internal/Project - Interface</li>
                                <li>External/People  - Popularity</li>
                                <li>External/Project - Activity</li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Branching</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>Branch EVERYTHING!!!</li>
                        <li>Merge often</li>
                        <li>
                            When merging, think about:
                            <ol>
                                <li>Merge all changesets together</li>
                                <li>Merge changesets independently</li>    
                            </ol>
                        </li>
                    </ol>
                </div>
            </section>

            <section data-state="submerge">
                <h2>Hypermedia</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>What to do?</li>
                        <li>Talk with Glenn Block, formerly from M$</li>
                    </ol>
                </div>
            </section>

            <section data-state="submerge">
                <h2>Hypermedia Clients</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>What is the purpose?</li>
                        <li>->Create reusable midware!</li>
                        <li>The best way to do this is:</li>
                        <li>Agree on media type (like HAL)</li>
                        <li>Do things at runtime.</li>
                        <li>Build a client app as Demo.</li>
                    </ol>
                </div>
            </section>
            <section data-state="submerge">
                <h2>Met Glenn Block</h2>
                <div>
                    <br>
                </div>
                <div>
                    <ol>
                        <li>Don't call him Glenn Beck</li>
                        <li>One of the principle developers of ASP.net Web API</li>
                        <li>Has extensive knowledge of Web API's</li>
                        <li>Great book: http://shop.oreilly.com/product/0636920026617.do?intcmp=il-npa-books-video-product_chimera</li>
                    </ol>
                </div>
            </section>

            <section data-state="alert">
                <h2>QUESTIONS?</h2>
            </section>
        </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal/reveal.min.js"></script>

    <script>

        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,

            theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

            // Optional libraries used to extend on reveal.js
            dependencies: [
                { src: 'lib/js/classList.js', condition: function () { return !document.body.classList; } },
                { src: 'plugin/markdown/marked.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: 'plugin/markdown/markdown.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                { src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
                { src: 'plugin/zoom-js/zoom.js', async: true, condition: function () { return !!document.body.classList; } },
                { src: 'plugin/notes/notes.js', async: true, condition: function () { return !!document.body.classList; } }
                // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
                // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
            ]
        });

		</script>

</body>
</html>