<!DOCTYPE html>
<html>
<head>
    <title>Super Awesome Blog</title>
	<meta name="DESCRIPTION" content="A super awesome blog about coding and best practices for coding." />
	<meta name="KEYWORDS" content=".NET, CODE, Jorden Lowe, Visual Studio, C#, Node.js, linux, awesome, code" />

	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="../css/site.css">
	<link rel="stylesheet" type="text/css" href="../css/spin.css">
    <link rel="stylesheet" type="text/css" href="../css/prettify.css" >

    <script type="text/javascript" src="../js/ejs_production.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/site.js"></script>
    <script type="text/javascript" src="../js/prettify.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-41734213-1', 'fbombcode.com');
	  ga('send', 'pageview');

	</script>
</head>
<body>
 
    <article class="container-fluid">
 	    <div class="header">
            <h1>Dropping F-Bomb on Code
            <span>by Jorden Lowe</span>
            </h1>
        </div>
 
        <nav class="main">
 
            <ul>
                <li class="main"><a href="/"><i class="icon-home"></i>Home</a></li>
                <li class="main"><a href="/Projects"><i class="icon-pencil"></i>Projects</a></li>
                <li class="main"><a href="/AboutMe"><i class="icon-book"></i>About me</a></li>
                <li class="main"><a href="/RSS"><i class="icon-bullhorn"></i>RSS</a></li>
				<li class="optional"><a href="/Events"><i class="icon-tasks"></i>Events</a></li>
				<li class="optional"><a href="/Categories"><i class="icon-tags"></i>Category</a></li>
            </ul>
        </nav>
 
        <div class="content">
            <section>
                <h1>Opps the website has exploded!  Please try again later.</h1>
            </section>
        </div>
        <footer>
        </footer>
    </article>
 
</body>
</html>
