<!DOCTYPE html>
<html>
<head>
  <title>Super Awesome Blog</title>
  <meta name="DESCRIPTION" content="A super awesome blog about coding and best practices for coding." />
  <meta name="KEYWORDS" content=".NET, CODE, Jorden Lowe, Visual Studio, C#, Node.js, linux, awesome, code" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../css/reset.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/site.css">
  <script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
  <article class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a title="Home" class="navbar-brand" href="/">Dropping F-Bomb on Code</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Articles</a></li>
            <li ><a  href="/Projects">Projects</a></li>
            <li ><a href="/RSS">RSS</a></li>
            <li><a href="resume.docx">Resume</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a title="About Me" href="/AboutMe">By Jorden Lowe</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="margin-top:100px;">
      <div class="row">
        <div class="span3"></div>
        <section class="span9">
          <h3><strong>Opps!  Something exploded!</strong></h3>
        </section>
        <footer>
        </footer>
      </div>
    </div>
  </article>
</body>
</html>
