<div class="text-center">
    <h1>The Homey Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>  
    <p>
    	Lorem ipsum dolor sit amet, ad ipsum falli praesent vis, nobis vocent intellegat at eos. Vis diam appellantur te. Rebum brute phaedrum vix ex. Eam at alia diceret, no viderer corpora laboramus nam. Duo ei harum reprimique, mei prima iudico efficiantur ea, in sed exerci expetenda.
    </p> 
	<p>
		Tota commodo vis an, eos denique sapientem accommodare no. Partem delicatissimi est in, usu ea doming graeco recteque. Eam eu ipsum putant evertitur, qui in nibh solet, an mel mazim nihil definitiones. Dicant repudiandae an usu, te eum agam ornatus ancillae.
	</p>
	<p>
		Magna alterum usu in, pro partiendo expetenda eu. Elit mediocrem sea ad, ne mea aeque alienum dissentiet, qui at feugiat cotidieque. Vis civibus adolescens eu, invidunt efficiantur te mei, quo ut sint graeci reformidans. Quem oratio rationibus at usu, no suas graecis qui. Ei mei urbanitas dissentias, in illud assum iusto nam.
	</p>
	<p>
		Ea ius salutatus dissentias, labore eligendi vim in. Omnium scripserit eu mea, et mel quis euripidis, prima atomorum eum et. No nec zril accusamus efficiendi, et clita aperiri ullamcorper vim. Sea melius labitur nusquam ut.
	</p>
	<p>
		Ei vix salutatus prodesset, gubergren liberavisse mea at, te mel virtute iracundia. Cibo omnium dissentiet ut vix, an eos enim facilisi. Ei ius odio labores efficiendi. Id quo idque menandri atomorum, est volumus explicari eu.
	</p>
</div>