<img alt="f bomb" src="../img/s128.jpg" />
<div>
    <h2>Events</h2>
    <nav id="Events">
        <div class="commentPost loading"> 
			<img alt="loading" src="../img/301.gif" />
			<div>Loading... Please wait!</div>
		</div>

    </nav>
</div>
<div>
    <h2>Categories</h2>
    <nav id="Categories">
        <div class="commentPost loading">
			<img alt="loading"  src="../img/301.gif" />
			<div>Loading... Please wait!</div>
		</div>
    </nav>
</div>   
<div>
	<input placeholder="Search..." type="text" class="search-query form-control" id="search" />
</div>  