<img alt="f bomb" src="../img/s128.jpg" />
<div>
    <nav>
        <h2>Events</h2>
        <ul>
            <li ng-repeat="event in events">{{ event.EventName }}</li>
        </ul>
        <h2>Categories</h2>
        <ul>
            <li ng-repeat="category in categories">
                <a ui-sref="category({categoryName: category.CategoryName})">{{ category.CategoryName }}</a>
            </li>
        </ul>
    </nav>
</div>   
<div style="margin-top:40px;">
	<input placeholder="Search..." type="text" class="search-query form-control" id="search" />
</div>  